{{- if and .Values.monitoring.enabled .Values.frontend.metrics.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "app-stack.fullname" . }}-frontend
  labels:
    {{- include "app-stack.labels" . | nindent 4 }}
    {{- with .Values.monitoring.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: frontend
      {{- include "app-stack.selectorLabels" . | nindent 6 }}
  endpoints:
    - port: http
      path: {{ .Values.frontend.metrics.path }}
      interval: {{ .Values.monitoring.scrapeInterval }}
{{- end }}
