{{- if .Values.monitoring.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "app-stack.fullname" . }}-frontend
  labels:
    {{- include "app-stack.labels" . | nindent 4 }}
    {{- with .Values.monitoring.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  selector:
    matchLabels:
      app: frontend
  namespaceSelector:
    matchNames:
      - {{ .Values.appMetrics.frontend.namespace }}
  endpoints:
    - port: http
      path: {{ .Values.appMetrics.frontend.metricsPath }}
      interval: {{ .Values.monitoring.scrapeInterval }}
{{- end }}
